.section {
    width: 100%;
}

.container {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
}

.leftContainer {
    flex: 1;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rightContainer {
    flex: 2;
    background-color: blue;
    padding: 25px;
    color: white;
}

.listTitle {
    color: white;
}
