.section {
    background-color: #26282d;
    color: #ffffff;

    width: 100%;
    max-width: 1024px;
    padding: 1rem;

    & .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: ;
        grid-gap: 1rem;

        & .tile {
            border-radius: 0.5rem;
            overflow: hidden;
            cursor: pointer;

            display: flex;
            flex-direction: column;

            // background: rgb(43, 50, 55);
            // background: linear-gradient(135deg, rgba(43, 50, 55, 1) 0%, rgba(40, 40, 49, 1) 100%);

            box-shadow: 5.7px 3.4px 2.2px rgba(0, 0, 0, 0.029), 10.2px 6.1px 5.3px rgba(0, 0, 0, 0.036),
                14.3px 8.6px 10px rgba(0, 0, 0, 0.043), 18px 10.8px 17.9px rgba(0, 0, 0, 0.051),
                21.6px 13px 33.4px rgba(0, 0, 0, 0.06), 25px 15px 80px rgba(0, 0, 0, 0.07);

            & img {
                height: 100%;
                width: 100%;

                &:hover {
                    transform: scale(1.1);
                    transition: transform 0.3s;
                }
            }
        }
    }
}
