.title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
}

.title h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    text-align: center;

    color: var(--primary-color);
    text-shadow: 0.025em 0.025em 0 var(--background-color), 0.05em 0.05em 0 var(--secondary-color),
        0.075em 0.075em 0 var(--background-color), 0.1em 0.1em 0 var(--secondary-color);
}
