.container {
    width: 100%;
    max-width: 768px;
}

/*  */

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;

    background-color: #2196f3;
}

.navigation .container ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    list-style: none;
}

.navigation .container li,
.navigation .container a {
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
}

.navigation .container li:hover,
.navigation .container a:hover {
    color: #ff9800;
}

/*  */

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
}

.title h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;

    color: #2196f3;
    text-shadow: 0.025em 0.025em 0 #fff, 0.05em 0.05em 0 #ff9800, 0.075em 0.075em 0 #fff,
        0.1em 0.1em 0 #ff9800;
}

/*  */

.list {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
}

.list ul {
    margin: 0;
    padding: 5px 45px;

    list-style: none;
}

.list .container {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 4px;
    overflow: hidden;

    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.list .img {
    height: 15rem;
    width: 15rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.list h2 {
    padding: 10px 45px;
    margin: 0;
    color: #2196f3;
    font-weight: bold;
}

.list li {
    margin-bottom: 0.5rem;
    position: relative;
    text-transform: capitalize;
}

.list li::before {
    content: '';
    height: 0.3rem;
    width: 0.9rem;
    border-radius: 0.4rem;
    background-color: #ff9800;

    position: absolute;
    left: -22px;
    top: 9px;
}

/*  */

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
}

.grid h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;

    color: #2196f3;
    background-image: -webkit-linear-gradient(0deg, #2196f3, #ff9800);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.grid .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1.5rem;
}

.card {
    /* width: 15rem; */

    border-radius: 4px;
    overflow: hidden;

    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);

    /* margin: auto; */
}

.card .img {
    height: 15rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card h3 {
    margin: 10px 0px 0px 10px;
    text-transform: capitalize;
    color: #2196f3;
    font-weight: bold;
}

.card p {
    height: 7rem;
    margin: 10px;
    overflow: hidden;
}

.card span {
    margin: 10px;
    font-style: italic;
    color: #ff9800;
}

/*  */

.display .img {
    height: 35rem;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.display h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    margin: 10px 15px 0px 15px;
    text-transform: uppercase;

    color: #2196f3;
}

.display p {
    margin: 10px 15px 5px 15px;
}

.display span {
    margin: 0px 15px;
    font-style: italic;
    color: #ff9800;
}

/*  */

.form {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0px;
}

.form .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.form input {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    min-width: 15rem;
}

.form button {
    background-color: #ff9800;
    border: none;
    padding: 0.5rem 2.5rem;
    border-radius: 3px;

    color: #fff;
    font-weight: bold;
}
