.section {
    width: 100%;
}

.container {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.leftContainer {
    flex: 1;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rightContainer {
    flex: 2;
    background-color: blue;
    padding: 25px;
    color: white;
}

.listTitle {
    color: white;
}

.listContainer {
}

.listElement {
}
