.section {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;

    & .image-wrapper {
        background-color: var(--primary-color);
        height: 350px;
        width: 750px;
        position: relative;

        &.error {
            outline: 1px solid #ff4d4f;
        }

        & img {
            object-fit: cover;
        }

        & .button {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}
