.section {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex: 1;
    display: flex;
    justify-content: center;

    & .container {
        max-width: 100%;
        width: 750px;

        &.error {
            outline: 1px solid #ff4d4f;
        }

        & .text {
            line-height: 1.5rem;
            color: var(--primary-text-color);

            & strong,
            & i {
                color: var(--primary-color);
            }
        }
    }
}
