.wrapper {
    min-height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.reverse {
    flex-direction: row-reverse;
}

.image {
    flex: 2;
    background-image: url(https://images.unsplash.com/photo-1658143290270-5e58c837d9d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.listWrap {
    flex: 3;
    padding: 2rem;
    background-color: #044b7f;
}

.layer {
    height: 100%;
    width: 100%;
    background-color: rgba(227, 181, 5, 0.5);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.list {
    /* pretty list with white text */
    /* list-style: none; */
    /* padding: 0;
    margin: 0; */
    color: #e3b505;
    font-size: 1.5rem;
    font-weight: bold;
}
