.title_img {
    margin: 0px;
    background-image: url(https://images.unsplash.com/photo-1530981711668-84c7d5aee08f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    background-position: center;

    color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 7rem;
    text-align: center;
}

.shadow_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 7rem;
    text-align: center;
    color: #264653;

    text-shadow: 0.025em 0.025em 0 white, 0.05em 0.05em 0 #2a9d8f, 0.075em 0.075em 0 white, 0.1em 0.1em 0 #e9c46a,
        0.125em 0.125em 0 white, 0.15em 0.15em 0 #f4a261, 0.175em 0.175em 0 white, 0.2em 0.2em 0 #e76f51;
}

.bg_image {
    background-image: url(https://images.unsplash.com/photo-1530981711668-84c7d5aee08f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    padding: 2vh 5vh;
    width: 45vh;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.list_item {
    color: #fff;
    position: relative;
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.list_item::before {
    content: '';
    height: 0.5vh;
    width: 1.1vh;
    border-radius: 1vh;
    background-color: #fff;
    position: absolute;
    left: -2vh;
    top: 1.75vh;
}
