html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    white-space: pre-wrap;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.ant-menu-title-content > a {
    color: rgba(0, 0, 0, 0.85);
}

.admin-card-container p {
    margin: 0;
}
.admin-card-container > .ant-tabs-card .ant-tabs-content {
    /* height: 120px; */
    margin-top: -16px;
}
.admin-card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 0px 15px 15px 15px;
    border: 15px solid #fff;
    background-color: rgb(240, 242, 245);
}
.admin-card-container > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
}
.admin-card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .admin-card-container > .ant-tabs-card .ant-tabs-tab {
    background: transparent !important;
    border-color: transparent !important;
}
.admin-card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .admin-card-container > .ant-tabs-card .ant-tabs-tab-active {
    background: #fff !important;
    border-color: #fff !important;
}
#components-tabs-demo-card-top .code-box-demo {
    padding: 24px;
    overflow: hidden;
    background: #f5f5f5;
}
[data-theme='compact'] .admin-card-container > .ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -8px;
}
[data-theme='dark'] .admin-card-container > .ant-tabs-card .ant-tabs-tab {
    background: transparent !important;
    border-color: transparent !important;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
    background: #000;
}
[data-theme='dark']
    .admin-card-container
    > .ant-tabs-card
    .ant-tabs-content
    > .ant-tabs-tabpane {
    background: #141414;
}
[data-theme='dark'] .admin-card-container > .ant-tabs-card .ant-tabs-tab-active {
    background: #141414;
    border-color: #141414;
}
