.container {
    width: 100%;
    max-width: 768px;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
}

.grid h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;

    color: var(--primary-color);
    background-image: -webkit-linear-gradient(0deg, var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.grid .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1.5rem;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    color: #000;

    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.card .img {
    height: 15rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card h3 {
    margin: 10px 0px 0px 10px;
    text-transform: capitalize;
    color: var(--primary-color);
    font-weight: bold;
}

.card p {
    height: 7rem;
    margin: 10px;
    overflow: hidden;
}

.card span {
    margin: 10px;
    font-style: italic;
    color: var(--secondary-color);
}
